:root {
    font-family: /* Inter, system-ui, Avenir, */ Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    color: rgba(255, 255, 255, 0.87);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html, body {
    background-color: #F6DCA9;
  }
  
  
  body {
    padding: 0px;
    padding-top: 0;
    display: flex;
    
    margin: 0px;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    
    color: white;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #F6DCA9;
      background-color: #ffffff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  
  
  .deleteUncomplete{
    width: 55px;
    height: 40px;
    border: 1px solid white;
    border-radius: 100px;
    padding: 0px;
    margin: 10px 5px;
    background-color: #ED5555;
  }
  
  .deleteUncomplete:hover{
    border: 1px solid #ffffff;
    background-color: #c44545;
  }
  
  .deleteComplete{
    width: 55px;
    height: 40px;
    border: 1px solid #c0c0c0;
    border-radius: 100px;
    padding: 0px;
    margin: 10px 5px;
    background-color: #d83f3f;
  }
  
  .deleteComplete:hover{
    border: 1px solid #ffffff;
    background-color: #ad3c3c;
  }
  
  .changeCatFinish{
    height: fit-content;
    border: 1px solid #ffffff;
    color: white;
    border-radius: 10px;
    margin: 10px 5px;
    background-color: #87BC7E;
  }
  
  .changeCatFinish:hover{
    border: 1px solid #ffffff;
    background-color: #4f9743;
  }
  
  .changeCatToDo{
    height: fit-content;
    border: 1px solid #ffffff;
    color: white;
    border-radius: 10px;
    margin: 10px 5px;
    background-color: #70a466;
  }
  
  .changeCatToDo:hover{
    border: 1px solid #ffffff;
    background-color: #487340;
  }
  
  .showButton{
      height: fit-content;
      width:  90%;
      border-radius: 10px;
      background-color: #ED5555;
      font-weight: 550;
      margin: 1% 5% 3%;
      color: #ffffff;
      text-align: center;
  }
  
  .tasks{
    height: 130px;
    width:  90%;
    display: flex;
    justify-content: flex-start;/* 
    align-items: top; */
    border-radius: 10px;
    background-color: #FFE0BB;
    margin: 1% 5% 3%;
    color: #62574D;
    text-align: left;
  }
  
  .tasks:hover {
    background-color: rgb(255, 195, 123);
  }
  
  .finishedTasks{
    height: 130px;
    width:  90%;
    display: flex;
    justify-content: flex-start;/* 
    align-items: top; */
    border-radius: 10px;
    background-color: #E9BC88;
    margin: 1% 5% 3%;
    color: #423b35;
    text-align: left;
  }
  
  .finishedTasks:hover {
    color: #342e2a;
    background-color: #caa171;
  }
  
  .taskInfo {
    width: 75%;
    margin: 0px 10px 0px 10px;
  }
  .taskInfoComplete{
    width: 75%;
    margin: 0px 10px 0px 10px;
  }
  
  .addTask{
    width: 92%;
    margin: 0px 4%;
    color: #62574D;
    background-color: #FAF4BC;
  }
  .addTask:hover{
    background-color: #ffd865;
  }
  .addTaskWindow{
    height: fit-content;
    width: 92%;
    margin: 0px 4%;
    color: #62574D;
    background-color: #FAF4BC;
    border-radius: 8px;
    padding: 3px 0px 15px;
  }
  .taskDescr{
    margin-top: 25px;
  }
  form {
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
  }
  label{
    font-weight: 550;
    display: flex;
    flex-direction: row;
  }
  
  p, h4{
    padding-left: 4px;
    color: #62574D;
  }
   
  h1{
    color: rgb(183, 160, 255);
    font-size: 45px;
    width: 92%;
    margin: 15% 4%;
  }
  
  #danger  {
    width: fit-content;
    color: #62574D;
    background-color: #d83f3f;
    padding: 1px 10px;
    margin: 10px 40px;
    border-radius: 10px;
    transition: 300ms;
  }
  
  #danger:hover{
    box-shadow: rgb(111, 48, 48) 1px 2px 5px;
  }
  
  #success {
    color: #5fae4f;
    background-color: #b7da8f;
    padding: 1px 10px;
    margin: 10px 40px;
    border-radius: 10px;
    transition: 300ms;
  }
  
  #success:hover {
    box-shadow: rgb(107, 151, 103) 1px 2px 5px;
  }
  
  .cancelButton{
    width: 92%;
    margin: 5px 4%;
    background-color: #A88D75;
  }
  
  .taskDescr .addTaskButton {
    padding-left: 0px;
  }
  .addTaskButton {
    width: 92%;
    margin: 5px 4%;
    background-color: #D05353 ;
  }
  
  
  
  h1{
    font-family: 'Inika', serif;
    font-weight: 400;
    border: white;
    -webkit-text-stroke: 1px white;
    color: white;
  }
  
  h2{
    font-family: 'Inika', serif;
    font-size: 36px;
    color: #FFC684;
    -webkit-text-stroke: 0.5px red;
    font-weight: 400;
    margin: 10px;
  }
  
  .titleLight{
    background-color: #FEA06B;
    position: fixed;
    height: 100vh;
    width: 17%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  a {
    text-decoration: none;
    color: #62574D;
  }
  
  .gitHub{
    height: 3.5%;
    border-radius: 50px;
    font-size: 20px;
    width: 92%;
    margin: 4% 4%;
    color: #62574D;
    display: flexbox;
    align-content: center;
    justify-content: center;
    background-color: #FFF6E5;
    text-align: center;
  }
  
  
  .tasksLight {
    background-color: #F6DCA9;
    position: absolute;
    min-height: 100vh;
    height: fit-content;
    width: 83%;
    top: 0;
    left: 17%;
    display: flex;
    flex-direction: row;
  }
  
  .task-divider{
    height: fit-content;
    min-height: 94vh;
    position: sticky;
    top: 3%;
    width: 30%;
    background-color: #FFF6E5;
    margin: 1.5% 3%;
    border-radius: 40px;
    text-align: center;
  }
  
  @media (max-width:1680px) {
    h1 {
      font-size: 40px;
    }
  }
  
  @media (max-width:1440px) {
    h1 {
      font-size: 40px;
    }
  }
  
  @media (max-width:1366px) {
    h1 {
      font-size: 38px;
    }
  }
  
  @media (max-width:1280px) {
    h1 {
      font-size: 35px;
    }
  
    label {
      flex-direction: column;
      justify-content: left;
    }
  
    .task-divider {
      margin: 1.5% 13px;
    }
  
    .tasks, .finishedTasks {
      height: 150px;
    }
  }
  
  @media (max-width:1024px) {
    h1 {
      font-size: 28px;
    }
  
    label {
      flex-direction: column;
      justify-content: left;
    }

  
    .tasks, .finishedTasks {
      height: 150px;
    }
  
    .deleteUncomplete, .deleteComplete{
      width: 55px;
      height: 25px;
    }
  }
  
  @media (max-width:950px) {
    .titleLight {
      background-color: #FEA06B;
      position: relative;
      min-height: 15vh;
      height: fit-content;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    
    .addTask {
      margin: 2% 4%;
      height: 25%;
    }
  
    .taskDescr {
      margin-top: 5px;
    }
  
    .gitHub{
      height: 3.5%;
      border-radius: 50px;
      font-size: 20px;
      width: 92%;
      margin: 1% 4%;
    }
  
  
    .addTaskButton, .cancelButton{
      padding: 0px;
    }
  
    .addContent {
      height: fit-content;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
  
    .tasksLight {
      position: relative;
      height: fit-content;
      min-height: 50%;
      width: 100vw;
      left: 0;
      display: flex;
      flex-direction: column;
    }
  
    .task-divider {
      min-height: fit-content;
      height: fit-content;
      width: 94%;
      position: relative;
      background-color: #FFF6E5;
      margin: 1.5% 3.5%;
      border-radius: 40px;
      text-align: center;
    }
  
    h1 {
    font-size: 45px;
    width: 50%;
    margin: 1% 0%;
    }
  }